{% extends "layout.html" %}
{% block title %}
    Book
{% endblock %}
{% block content %}
    <div class="book-container">
        <div class="row">
            <div class="col-sm">
                <img src="http://covers.openlibrary.org/b/isbn/{{book_info[0]['isbn']}}-M.jpg" width="125px" alt="">
            </div>
            <div class="col-sm">
                <h2>{{book_info[0]['title']}}</h2>
                <h4>By: {{book_info[0]['author']}}</h4>
                <h4>ISBN-10: {{book_info[0]['isbn']}}</h4>
                <h4>Published {{book_info[0]['year']}}</h4>
            </div>
            <div class="col-sm">
                <img src="../static/goodreads_logo.png" width="250px" alt="goodreads">
                <h5>Average Goodreads Rating: {{book_info[1]['average_rating']}}</h5>
                <h5>{{book_info[1]['reviews_count']}} total reviews</h5>
            </div>
        </div>
    </div>
    <div class="container pb-cmnt-container">
        <form action="/book/{{book_info[0]['isbn']}}" method="post" name="review id="ratingForm">
            <div id="status"></div>
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-info">
                        <div class="panel-body rating">
                            <textarea name="review" placeholder="Write your comment here!" class="pb-cmnt-textarea" required></textarea>
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="text" name="name" placeholder="Enter Name" class="pb-cmnt-textarea" style="height:30px" required><br>
                    <div class="form-inline clearfix">
                        <button class="btn btn-primary submit clearfix" id="btn" type="submit" style="text-align: center">Share</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% for review in reviews %}
    {% set rating = review["rating"] | int %}
        <div class="review">
            <h6>{{review["date"]}} | {{review["name"]}} ({{review["username"]}}) commented: </h6>
            <p>{{review["review"]}}</p>
            {% for i in range(rating) %}
                <i class="fa fa-star" aria-hidden="true"></i>
            {% endfor %}
            {% for j in range(5 - rating) %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
