{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; width:100% !important; height:50% !important;"><p><a href="//24timezones.com/Toronto/time" style="text-decoration: none" class="clock24" id="tz24-1592601302-c1250-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNWVlZDJhZDY2MDNkYyIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="Toronto time now" target="_blank" rel="nofollow">Toronto</a></p><div id="clock_block_cb5eed2ad6603dc"></div></div>
            <h3 class="padding">Search for a book!</h3>
            <form action="/search" method="GET">
                <button class="btn btn-primary" type="submit" style="width:35%">Go!</button><br>
            </form>
        </div>
        <div class="col-md">
            <h1> Welcome Back! </h1>
            <div id='divid' style="font-family: cursive; font-style: Bradley Hand; font-size: 30px; color: #0066cc">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg padding">
            <h3>Your Recent Reviews</h3>
            <p><a href="/search">{{message}}</a></p>
            {% for review in reviews %}
            {% set rating = review["rating"] | int %}
                <div class="review">
                    <h6>{{review["date"]}} | {{review["name"]}} commented: </h6>
                    <p>{{review["review"]}}</p>
                    {% for i in range(rating) %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                    {% for j in range(5 - rating) %}
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>


    <script type="text/javascript">
    function ShowJoke()
    {
    quotes = [];
    quotes[0] = "“Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.” – Neil Gaiman";
    quotes[1] = "“That’s the thing about books. They let you travel without moving your feet.” – Jhumpa Lahiri";
    quotes[2] = "“The library is inhabited by spirits that come out of the pages at night.” – Isabel Allende";
    quotes[3] = "“A book is a version of the world. If you do not like it, ignore it; or offer your own version in return.” – Salman Rushdie";
    quotes[4] = "“I do believe something very magical can happen when you read a book.” – J.K. Rowling";
    quotes[5] = "“Children know perfectly well that unicorns aren’t real, but they also know that books about unicorns, if they are good books, are true books.” – Ursula K. Le Guin";
    //calculate a random index
    index = Math.floor(Math.random() * quotes.length);
    //display the quotation
    document.getElementById('divid').innerHTML = "<p>" +  quotes[index] + "</p>";
    }
    document.addEventListener("load", ShowJoke());
    </script>
    <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

{% endblock %}
