{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h3>Login or <a href="/register">create an account</a></h3>
    <form action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="email"  placeholder="Enter username or email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="InputPassword" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
{% endblock %}
