{% extends "layout.html" %}
{% block title %}
    Results
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <!-- BEGIN SEARCH RESULT -->
            <div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                            <!-- BEGIN FILTERS -->
                            <div class="col-md-3">
                                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                                <hr>

                                <!-- BEGIN FILTER BY CATEGORY -->
                                <h4>By genre:</h4>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Mystery</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Romance</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Action</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Children</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Comic</label>
                                </div>
                                <!-- END FILTER BY CATEGORY -->

                                <div class="padding"></div>

                                <!-- BEGIN FILTER BY DATE -->
                                <h4>By date:</h4>
                                From
                                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="">

                                To
                                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="">
                                <!-- END FILTER BY DATE -->

                                <div class="padding"></div>

                            </div>
                            <!-- END FILTERS -->
                            <!-- BEGIN RESULT -->
                            <div class="col-md-9">
                                <h2><i class="fa fa-file-o"></i> Books</h2>
                                <hr>
                                <!-- BEGIN SEARCH INPUT -->
                                <form action="/search" method="post">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="query" placeholder= "Enter ISBN, Author, or Title" required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                            </span>
                                    </div>
                                </form>
                                <!-- END SEARCH INPUT -->
                                <p>Showing all results matching {{query}} {{count}}<br>{{message}}</p>


                                <div class="padding"></div>

                                <div class="row">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Order by <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Title</a></li>
                                                <li><a href="#">Publish Date</a></li>
                                                <li><a href="#">Author</a></li>
                                                <li><a href="#">Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->

                                    <div class="col-md-6 text-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <!-- BEGIN TABLE RESULT -->
                                {% for book in books %}
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody><tr>
                                                <td class="image"><img src="http://covers.openlibrary.org/b/isbn/{{book['isbn']}}-M.jpg" width="130px" alt=""></td>
                                                <td class="product"><strong>{{book["title"]}}</strong><br>{{book["isbn"]}}<br>By: {{book["author"]}}</td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                                <td class="price text-right">{{book["year"]}}</td>
                                            </tr>
                                        </tbody></table>
                                    </div>
                                {% endfor %}
                                <!-- END TABLE RESULT -->

                                <!-- BEGIN PAGINATION -->
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                                <!-- END PAGINATION -->
                            </div>
                            <!-- END RESULT -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SEARCH RESULT -->
        </div>
    </div>
{% endblock %}
